{% extends "header.html" %} {% block content %}
<div class="main-container">
  <h2 class="main-title">Discover Recipes</h2>
  <form class="searchbar" action="/" method="POST">
    {{ form.csrf_token }}
    {{ form.search_query(class="form-control", placeholder="Find a recipe") }}

    {% if form.search_query.errors %}
    <div class="error" role="alert">
      {% for error in form.search_query.errors %}
      <span>{{ error }}</span>
      {% endfor %}
    </div>
    {% endif %}

    {{ form.submit(class="form-button") }}
  </form>
</div>
{% endblock %}
