{% extends "header.html" %} {% block content %}
<div class="main-container">
  <h2 class="main-title">Discover Recipes</h2>
  <form class="searchbar" action="/" method="POST">
    {{ form.csrf_token }}
    {{ form.search_query(class="form-control", placeholder="Find a recipe") }}
    {{ form.submit(class="form-button") }}
  </form>
  <h2 class="explore-title">Explore Recipes</h2>
  <div class="results-container">
    {% if form.search_query.errors %}
    <div class="error" role="alert">
      {% for error in form.search_query.errors %}
      <span>{{ error }}</span>
      {% endfor %}
    </div>
    {% endif %}

    {% if error_msg %}
    <div class="error" role="alert">
      {{ error_msg }}
    </div>
    {% endif %}

    {% for recipe in random_recipes %}
    <a href="{{ url_for('recipes.recipe_detail', recipe_id=recipe.id) }}" class="group movie-card">
      <img src="{{ recipe.image }}" class="movie-card-img" alt="missing image" />
      <h5 class="movie-card-content"> {{ recipe.title }} </h5>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}
