{% extends "header.html" %}

{% block content %}
{% if error %}
    <b class="text-red-400" role="alert">
        {{ error }}
    </b>
{% endif %}

<div class="container mx-auto w-full md:w-2/3 lg:w-1/3">
    {% if image %}
        {# User's Profile Picture #}
        <img class="rounded-2xl" src="data:image/png;base64,{{ image }}" alt="image">
    {% endif %}
    <h2 class="text-4xl font-bold opacity-50 my-4">{{ user.username }}'s Reviews</h2>
</div>

<div class="container mx-auto w-full md:w-2/3 lg:w-1/3">
    <h4 class="text-2xl text-neutral-500">Number of Reviews: <b class="text-white">{{ reviews|length }}</b></h4>
    <table>
        <thead>
            <tr>
                <th style="border: 1px solid #fff4">Date</th>
                <th style="border: 1px solid #fff4">Recipe</th>
                <th style="border: 1px solid #fff4">Content</th>
            </tr>
        </thead>
        <tbody>
            {% for review in reviews %}
                <tr>
                    <td style="border: 1px solid #fff4">{{ review.date }}</td>
                    <td style="border: 1px solid #fff4">{{ review.recipe_title }}</td>
                    <td style="border: 1px solid #fff4">{{ review.content }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}