{% extends "header.html" %}

{% block content %}

{% if error_msg %}
  <b class="text-red-400">
    {{ error_msg }}
  </b>
{% endif %}

<div class="results-container">
  <div class="decoration-container"><div class="decoration"></div></div>
  {% for result in results %}
  <a 
    href="{{ url_for('recipes.recipe_detail', recipe_id=result.recipe_id) }}"
    class="group recipe-card"
  >
    <img src="{{ result.image_url }}" class="recipe-card-img" alt="missing" />
    <h5 class="recipe-card-content"> {{ result.title }}
      <span class="text-neutral-400 font-normal"> &middot; {{ result.category }} </span>
    </h5>
  </a>
  {% endfor %}
</div>

{% endblock %}
