{% extends "header.html" %}

{% block content %}

{% if error_msg %}
  <b class="text-red-400">
    {{ error_msg }}
  </b>
{% endif %}

{% if recipe %}

{# Display card for the recipe details #}
<div class="recipe-container">
  <ul class="recipe-info">
    <div class="recipe-title">{{ recipe.title }}
      <p class="recipe-date"> &middot; {{ recipe.year if recipe.year else 'Unknown' }}</p>
    </div>
    <img class="recipe-img" alt="Recipe Image" src="{{ recipe.image_url }}" />
    <li class="opacity-40 md:px-4"><b>Created by:</b> {{ recipe.creator if recipe.creator else 'Unknown' }}</li>
    <li class="opacity-40 md:px-4"><b>Ingredients:</b> {{ recipe.ingredients | join(', ') }}</li>
    <li class="opacity-40 md:px-4"><b>Cooking Time:</b> {{ recipe.cooking_time if recipe.cooking_time else 'Unknown' }} minutes</li>
    <li class="opacity-40 md:px-4"><b>Instructions:</b> {{ recipe.instructions if recipe.instructions else 'No instructions provided' }}</li>
  </ul>

  {# Reviews #}
  <div class="reviews">
    <h1 class="reviews-title"> Reviews
      <small class="reviews-count"> {{ reviews | length }} reviews </small>
    </h1>
    <ul class="review-container">
      {% for review in reviews %}
        <li class="review flex gap-2">
          <img class="h-20 w-20 rounded-lg" src="data:image/png;base64,{{ review.image if review.image else 'default_image_base64_string' }}" alt="Profile Image" />
          <div class="w-full">
            <span class="review-date">{{ review.date }}</span>
            <a class="review-commenter" href="{{ url_for('recipes.user_detail', username=review.commenter.username) }}">
              @{{ review.commenter.username }}
            </a>
            <div class="review-rating">
              {% for i in range(1, 6) %}
                {% if i <= (review.rating or 0) %}
                  &#9733;  <!-- Filled star symbol -->
                {% else %}
                  &#9734;  <!-- Empty star symbol -->
                {% endif %}
              {% endfor %}
            </div>
            <p class="review-content">{{ review.content }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>

    {% if current_user.is_authenticated %}
      {# Recipe review submission form #}
      <div class="container mx-auto">
        <form method="POST" action="" class="review-form">
          {{ form.csrf_token }}
          
          <div class="form-group review-input">
            {{ form.text.label }} 
            {{ form.text(class="form-content") }}
            {% if form.text.errors %}
              <div class="error" role="alert">
                {% for error in form.text.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          
          <div class="form-group review-rating">
            <label for="rating">Rating: </label>
            <div class="star-rating" id="star-rating">
              {% for i in range(1, 6) %}
                <input type="radio" id="star{{ i }}" name="rating" value="{{ i }}" {% if form.rating.data == i %} checked {% endif %} />
                <label for="star{{ i }}" class="star">&#9733;</label>
              {% endfor %}
            </div>
            {% if form.rating.errors %}
              <div class="error" role="alert">
                {% for error in form.rating.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% endif %}
          </div>

          {{ form.submit(class="review-button") }}
        </form>
      </div>
    {% endif %}
  </div>
  <div class="w-0 lg:w-96"></div>
</div>
{% endif %}

{% endblock content %}